<form class="mx-auto col-md-6 col-11" [formGroup]="serviceDetailsForm" (ngSubmit)="onSubmit()">
    <fieldset>
        <div class="grid-row">
            <div class="mb-3 grid-col">
                <label for="serviceNumber" class="form-label">Service Number</label>
                <input type="number" class="form-control" id="serviceNumber" name="serviceNumber" formControlName="serviceNumber" [class.is-invalid]="serviceDetailsForm.get('serviceNumber')?.dirty && serviceDetailsForm.get('serviceNumber')?.invalid" autocomplete="off">
                <div class="invalid-feedback">
                    Service number must be min of 1.
                </div>
            </div>
            <div class="mb-3 grid-col">
                <label for="serviceType" class="form-label">Service Type</label>
                <input list="serviceTypes" class="form-control" id="serviceType" name="serviceType" formControlName="serviceType" [class.is-invalid]="serviceDetailsForm.get('serviceType')?.dirty && !isValidServiceType(serviceDetailsForm.get('serviceType')?.value)" autocomplete="off" placeholder="Select service type">
                <datalist id="serviceTypes" *ngIf="serviceTypes">
                    <option *ngFor="let type of serviceTypes" [value]="type">
                </datalist>
                <div class="invalid-feedback">
                    Invalid Service type must select from given service types.
                </div>
            </div>
        </div>
        <div class="grid-row departure">      
            <div class="mb-3 grid-col location">
                <label for="departureLocation" class="form-label">Departure Location</label>
                <input list="depLocations" value="" class="col-sm-6 custom-select custom-select-sm form-control" name="depLocation" formControlName="departureLocation" placeholder="Select location" autocomplete="off">
                <datalist id="depLocations" *ngIf="locations">
                    <option *ngFor="let location of locations" [value]="location.locationName">
                </datalist>
                <div class="invalid-feedback">
                    Invalid departure location. Must select from given locations.
                </div>

            </div>                
        </div>
        <div class="grid-row arrival">
            <div class="mb-3 grid-col location">
                <label for="arrivalLocation" class="form-label">Arrival Location</label>
                <input list="arrLocations" value="" class="col-sm-6 custom-select custom-select-sm form-control" name="arrLocation" formControlName="arrivalLocation" placeholder="Select location" autocomplete="off">
                <datalist id="arrLocations" *ngIf="locations">
                    <option *ngFor="let location of locations" [value]="location.locationName">
                </datalist>
                <div class="invalid-feedback">
                    Invalid arrival location. Must select from given locations.
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="distance" class="form-label">Distance</label>
            <input type="number" class="form-control" id="distance" name="distance" formControlName="distance" [class.is-invalid]="serviceDetailsForm.get('distance')?.dirty && serviceDetailsForm.get('distance')?.invalid" autocomplete="off">
            <div class="invalid-feedback">
                Distance must be atleast of 10 Kms.
            </div>
        </div>			  
        <div *ngIf="!disabled">
            <button type="submit" class="btn btn-primary" [disabled]="!serviceDetailsForm.valid" [disabled]="loading">
                <span *ngIf="loading">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </span>
                {{ loading ? 'Loading..' : 'Submit'}}    
            </button>
        </div>
    </fieldset>
</form>
