<div class="row my-3 mx-0" *ngIf="bookingDetails">
    <div class="col-lg-9 col-12 booking-details-wrapper d-flex justify-content-center my-2">
        <div class="booking-details rounded">
            <div class="trip-details">
                <h4 class="p-3 review-deatils">Trip Details</h4>
                <div class="d-flex justify-content-evenly flex-xl-row flex-column">
                    <div class="deparure-arrival-details d-flex align-items-center flex-sm-row flex-column">
                        <div class="departure-details mx-3">
                            <div class="d-flex align-items-center">
                                <h4 class="m-2 departure-time">{{ (bookingDetails.doj + ' ' + bookingDetails.time) | date: 'shortTime' }}</h4>    
                                <p class="m-2 departure-location">{{ bookingDetails.scheduleDetails.serviceDetails.departureLocation.locationName }}</p>
                            </div>
                            <div class="text-center">
                                <span class="text-muted small">{{ (bookingDetails.doj + ' ' + bookingDetails.time) | date: 'fullDate' }}</span>
                            </div>
                        </div>
                        <div class="icon mx-3">
                            <fa-icon [icon]="rightArrowIcon" style="color: #497ca5e6;"></fa-icon>
                        </div>
                        <div class="arrival-details mx-3">
                            <div class="d-flex align-items-center">
                                <h4 class="m-2 departure-time">{{ (bookingDetails.doj + ' ' + bookingDetails.time) | addMinutesToStrDate: bookingDetails.scheduleDetails.duration | date: 'shortTime' }}</h4>
                                <p class="m-2 departure-location">{{ bookingDetails.scheduleDetails.serviceDetails.arrivalLocation.locationName }}</p>
                            </div>
                            <div class="text-center">
                                <span class="text-muted small">{{ (bookingDetails.doj + ' ' + bookingDetails.time) | addMinutesToStrDate: bookingDetails.scheduleDetails.duration| date: 'fullDate' }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="bus-details p-3">
                        <h5>{{bookingDetails?.scheduleDetails?.busDetails?.operator?.operator }}</h5>
                        <h6 class="text-muted">{{bookingDetails.busDetails.busName }}</h6>
                         <p>
                            Seats Booked:
                            <strong>{{ bookingDetails.seats?.join(', ')}}</strong>
                        </p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-12 price-breakup-wrapper d-flex justify-content-center my-2">
        <div class="price-breakup rounded">
            <h4 class="p-3 review-deatils">Fare Breakup</h4>
            <div>
                <div class="d-flex">
                    <div class="mx-3">Base price </div>
                    <div class="ms-auto mx-3">{{ bookingDetails.basePrice * bookingDetails.seats?.length | currency: 'INR'}} </div>
                </div>
                <div class="d-flex">
                    <div class="mx-3">GST</div>
                    <div class="ms-auto mx-3">+{{  (bookingDetails.gst * bookingDetails.seats?.length) * bookingDetails.basePrice/ 100 | currency: 'INR'}}</div>
                </div>
                <div class="d-flex">
                    <div class="mx-3">Discount </div>
                    <div class="ms-auto mx-3">-{{ (bookingDetails.discount * bookingDetails.seats?.length)* bookingDetails.basePrice/ 100 | currency: 'INR'}}</div>
                </div>
            </div>
            <div class="d-flex">
                <div class="mx-3">Total</div>
                <div class="ms-auto mx-3"><strong>{{ bookingDetails.seats.length * bookingDetails.basePrice + ((bookingDetails.gst * bookingDetails.seats.length ) * bookingDetails.basePrice/ 100) - (( bookingDetails.discount* bookingDetails.seats?.length )* bookingDetails.basePrice/ 100) | currency: 'INR'}}</strong></div>
            </div>
        </div>
    </div>
</div>