<nav class="navbar sticky-top navbar-expand-lg navbar-dark px-3">
      <a class="navbar-brand" href="#">GoBus</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNav" aria-controls="collapseNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>	
      <div class="collapse navbar-collapse" id="collapseNav"> 
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
            <li class="nav-item">
                <a class="nav-link" [class.active]="currPage == 'Home'" aria-current="page" routerLink="/" (click)="setActive('Home')">Home</a>
            </li>
            <li class="nav-item" *ngIf="authService.isLoggedIn()">
                <a class="nav-link" aria-current="page" routerLink="/bookings/" [class.active]="currPage == 'Bookings'" (click)="setActive('Bookings')">My Bookings</a>
            </li>
            <li class="nav-item" *ngIf="authService.isOperatorOrAdmin()">
                <a class="nav-link" aria-current="page" routerLink="/seats/" [class.active]="currPage == 'Seats'" (click)="setActive('Seats')">Seating</a>
            </li>
            <li class="nav-item" *ngIf="authService.isOperatorOrAdmin()">
                <a class="nav-link" aria-current="page" routerLink="/dashboard/" [class.active]="currPage == 'Dashboard'" (click)="setActive('Dashboard')">Dashboard</a>
            </li>
            <li class="nav-item" *ngIf="authService.isLoggedIn()">
                <button class="btn btn-light btn-sm" (click)="logOutUser()">Log out</button>
            </li>
            <li class="nav-item" *ngIf="!authService.isLoggedIn()">
                <a class="nav-link" aria-current="page" routerLink="/users/new" [class.active]="currPage == 'SignUp'" (click)="setActive('SignUp')">Sign Up</a>
            </li>
            <li class="nav-item" *ngIf="!authService.isLoggedIn()">
                <a class="nav-link" aria-current="page" routerLink="/users/login" [class.active]="currPage == 'LogIn'" (click)="setActive('LogIn')">Log in</a>
            </li> 
        </ul>
      </div>
  </nav>