.seat{
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #c1c1c1;
    margin: 8px;
    padding: 4px;
}

.booked{
    background-color: #c1c1c1;
    color: white;
}

.seat-checkbox{
    display: none;
}

.seat-checkbox:checked + .seat {
    background-color: #20bf7a;
    color: white;
    border: none;
}

.no-seat{
    background-color: white;
    border: none;
}

.sleeper{
    width: 55px;
}

.seat.selected{
    background-color: #20bf7a;
    border: 1px solid #20bf7a;
}

#seats{
    border: 1px solid #c1c1c1;
    /* display: inline-block; */
    padding: 4px;
}