.heading{
    text-align: center;
    z-index: 10;
    color: white;
    margin-top: 20px;
}

.seat{
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 3px; 
    border: 1px solid #c1c1c1;
    margin: 8px;
    padding: 4px;
}

.no-seat{
    border: none;
}
