<app-banner></app-banner>
<h4 class="heading">
    Login
</h4>
<div class="userForm-wrapper d-flex justify-content-center">
    <div class="userForm flex-lg-row flex-column d-flex justify-content-center align-items-center border rounded p-3">
        <div class="login-img d-none d-lg-block">
            <img src="/assets/images/login-rebbeca.svg" alt="" class="img-fluid">
        </div>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="w-50">
            <fieldset>
                <div>
                    <p class="text-center" *ngIf="redirectURL">
                    New User? <a [routerLink]="['/users/new']" [queryParams]="{redirectURL: redirectURL}">SignUp Here</a>
                    </p>
                    <p class="text-center" *ngIf="!redirectURL">
                        New User? <a [routerLink]="['/users/new']">SignUp Here</a>
                    </p>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="model.username" pattern="[^@]+@[^@]+" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="password" [(ngModel)]="model.password" required>
                </div>
                <button type="submit" class="btn btn-primary form-control" [disabled]="!loginForm.valid" [disabled]="loading">
                    <span *ngIf="loading">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    </span>
                    {{ loading ? 'Logging in..' : 'Login'}}
                </button>
            </fieldset>
        </form>
    </div>
</div>