<app-banner></app-banner>
<h4 class="heading">
    Sign Up
</h4>

<div class="userForm-wrapper d-flex justify-content-center">
    <div class="userForm flex-lg-row flex-column d-flex justify-content-center align-items-center border rounded p-3">
        <div class="login-img d-none d-lg-block">
            <img src="/assets/images/login-rebbeca.svg" alt="" class="img-fluid">
        </div>
        <form #userform="ngForm" (ngSubmit)="onSubmit()" class="w-50">
            <fieldset>
                <div>
                    <p class="text-center">Existing User? <a href="/users/login">Login Here</a></p>
                </div>
    
                <div class="mb-3">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="model.firstName" minlength="3" required>
                </div>
                
                <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="model.lastName" minlength="2" #lastName="ngModel" required>
                </div>
                
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="model.email" pattern="[^@]+@[^@]+" required>
                </div>
                
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="password" [(ngModel)]="model.password" minlength="5" required>
                </div>
                
                <div class="mb-3">
                    <label for="confirm_password" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" name="confirmPassword" id="confirm_password" [(ngModel)]="model.confirmPassword" minlength="5" required>
                </div>
                
                <button type="submit" class="btn btn-primary form-control" [disabled]="loading" [disabled]="!userform.valid">
                    <span *ngIf="loading">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    </span>
                    {{ loading ? 'Loading..' : 'SignUp'}}
                </button>
            </fieldset>
        </form>
    </div>  
</div>
