<div class="text-center py-2 my-2">
    <h4 class="text-light">Are you sure to delete Schedule with id {{ id }} ?</h4>
    <div>
        <button class="btn btn-primary px-2 mx-2" routerLink="/schedules">No</button>
        <button class="btn btn-danger px-2 mx-2" [disabled]="loading" (click)="deleteSchedule(id)">
            <span *ngIf="loading">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </span>
            {{ loading ? 'Deleting..': 'Yes' }}
        </button>
    </div>
</div>