.bus-name{
    font-size: 20px;
    width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 8px;
    box-sizing: border-box;
}

#price{
    width: 90%;
}
.time{
    width: 400px;
}

.bus:hover{
    background-color: #f0eafb;
}

.acc-button{
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: left;
}

@media screen and (max-width: 576px) {
    .bus-name{
        font-size: 1.05rem;
        padding: 0 4px;
        width: 320px;
    }

    .time{
        width: auto;
    }
}