<app-search-buses [selectedDepartureLocation]="departureLocation" [selectedArrivalLocation]="arrivalLocation" [selectedDate]="date"></app-search-buses>
<div *ngIf="availableBusesResponse.length > 0">
    <div class="d-flex flex-sm-row flex-column justify-content-sm-center align-items-sm-center grey-color p-3">
        <div><strong>Sort By</strong></div>
        <div><button class="button" (click)="sortByPrice()">
            Price
            <fa-icon [icon]="sortStatus.isPriceSortedInAsc ? ascIcon : descIcon" class="p-2" style="color: #d64c39;"></fa-icon> 
        </button></div>
        <div class="d-sm-block d-none"> | </div>
        <div>
            <button class="button p-2" (click)="sortByDepartureTime()">Departure Time
                <fa-icon [icon]="sortStatus.isDepartureTimeSortedInAsc ? ascIcon : descIcon" class="p-2" style="color: #d64c39;"></fa-icon> 
            </button>
        </div>
        <div class="d-sm-block d-none"> | </div>

        <div>
            <button class="button" (click)="sortByArrivalTime()">
                Arrival Time 
                <fa-icon [icon]="ascIcon"[icon]="sortStatus.isArrivalTimeSortedInAsc ? ascIcon : descIcon" class="p-2" style="color: #d64c39;"></fa-icon>    
            </button>

        </div>
    </div>
    <!-- <h4 class="text-primary text-center">Available Buses from {{departureLocation.locationName}} to {{arrivalLocation.locationName}} on {{date | date: 'fullDate'}}: </h4> -->
    <div class="row px-3 mx-0">
        <div class="filter-menu col-xl-2 col-12 border rounded p-2">
            <div class="border-bottom p-2">
                <h5>Filter</h5>
                <p class="text-muted small">Showing {{availableBuses.length}} of {{availableBusesResponse.length}} buses </p>
            </div>
            <div class="filter-options row p-2">
                <div class="border-xl-bottom border-sm-none border-bottom px-2 col-xl-12 col-sm-6 col-12">
                    <h6 class="mb-3">Bus Type</h6>
                    <ul class="list-styling-none">
                        <li class="d-flex justify-contet-center align-items-center">
                            <input type="checkbox" name="AC" id="AC" class="m-2" #ac (change)="onBusTypeChange(ac.checked, 'AC')">   
                            <label for="AC"> AC </label>
                        </li>
                        <li class="d-flex justify-contet-center align-items-center">
                            <input type="checkbox" name="Non-AC" id="Non-AC" class="m-2" #non_ac (change)="onBusTypeChange(non_ac.checked, 'Non-AC')" > 
                            <label for="Non-AC"> Non-AC </label>
                        </li>
                        <li class="d-flex justify-contet-center align-items-center">
                            <input type="checkbox" name="Sleeper" id="Sleeper" class="m-2" #sleeper (change)="onSeatingTypeChange(sleeper.checked, 'Sleeper')"> 
                            <label for="Sleeper"> Sleeper </label>
                        </li>
                        <li class="d-flex justify-contet-center align-items-center">
                            <input type="checkbox" name="Semi" id="Semi" class="m-2" #semi_sleeper (change)="onSeatingTypeChange(semi_sleeper.checked, 'Semi Sleeper')"> 
                            <label for="Semi"> Semi Sleeper </label>
                        </li>
                    </ul>
                </div>
                <div class="border-sm-bottom border-none p-2 col-xl-12 col-sm-6 col-12 border-lg-left">
                    <h6 class="mb-3">Price</h6>
                    <input type="range" name="price" id="price" [min]="minPrice" [max]="maxPrice" [value]="maxPrice" (change)="onPriceRangeChange(priceRange.value)" #priceRange [title]="priceRange.value | currency: 'INR'"> 
                    <div class="d-flex justify-content-between">
                        <span class="text-muted small">{{ minPrice | currency: 'INR'}}</span>
                        <span class="text-muted small">{{ priceRange.value | currency: 'INR'}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="available-buses-list col-xl-10 col-12 my-xl-0 my-2 p-1">
            <div class="bus p-3 border rounded mb-2 d-flex justify-content-evenly align-items-center flex-lg-row flex-column" *ngFor="let bus of availableBuses">
                <div>
                    <h5 class="bus-name text-lg-start text-center">{{bus.busDetails.busName}}</h5>
                </div>
                <div class="time d-flex flex-sm-row flex-column justify-content-between align-items-center my-lg-0 my-3">
                    <div class="text-center mx-3 my-2 d-flex flex-row flex-sm-column">
                        <div class="mx-2">{{ (date + ' ' + bus.departureTime) | date: 'shortTime' }}</div>
                        <div class="mx-2 text-muted small">{{bus.serviceDetails.departureLocation.locationName}}</div>
                    </div>			
                    <div class="text-center mx-3 my-2 d-flex flex-row-reverse flex-sm-column">
                        <div class="mx-2"><fa-icon [icon]="rightArrow"></fa-icon></div>
                        <div class="mx-2 text-muted small">{{ bus.duration | minutesToHHMM }} </div>    
                    </div>		
                    <div class="text-center mx-3 my-2 d-flex flex-row flex-sm-column">
                        <div class="mx-2">{{ (date + ' ' + bus.departureTime) | addMinutesToStrDate: bus.duration | date: 'shortTime' }}</div>
                        <div class="mx-2 text-muted small">{{bus.serviceDetails.arrivalLocation.locationName}}</div>
                    </div>			
                </div>
                <div class="d-flex flex-lg-column justify-content-between align-items-center my-lg-0 my-3">
                    <div class="mx-3">
                        <strong>{{ bus.basePrice | currency: 'INR'}}</strong>
                    </div>
                    <div>
                        <button class="btn btn-primary" (click)="getSeatLayout(bus.id, bus.busDetails.id, bus.departureTime)">Select Seats</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="availableBuses.length == 0" class="my-4 text-center">
    <h3>No buses available on this route on this date.</h3>
</div>