<app-banner></app-banner>
<h4 class="heading">
    Bus Details
</h4>
<div class="over-banner-wrapper">
    <div class="over-banner border rounded p-3 overflow-auto" *ngIf="busDetails.length > 0">
        <table class="table" >
            <thead>
                <tr>
                    <th scope="col" class="text-nowrap">Id</th>
                    <th scope="col" class="text-nowrap">Bus Name</th>
                    <th scope="col" class="text-nowrap">Reg Number</th>
                    <th scope="col" class="text-nowrap">Bus type</th>
                    <th scope="col" class="text-nowrap">Seating type</th>
                    <th scope="col" class="text-nowrap">Update</th>
                    <th scope="col" class="text-nowrap">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bus of busDetails">
                    <td><a [routerLink]="['/buses/show',bus?.id]">{{bus?.id}}</a></td>
                    <td class="text-nowrap">{{ bus?.busName }}</td>
                    <td class="text-nowrap"> {{ bus?.busRegNumber }} </td>
                    <td class="text-nowrap"> {{ bus?.busType }} </td>
                    <td class="text-nowrap"> {{ bus?.seatingType }} </td>
                    <td class="text-nowrap"> <a [routerLink]="['/buses/edit', bus?.id ]" class="btn btn-primary">Update</a></td>
                    <td class="text-nowrap"> <a [routerLink]="['/buses/delete', bus?.id ]" class="btn btn-primary">Delete</a> </td>
                </tr>
            </tbody>
          </table>
    </div>
</div>
<div class="text-center my-3">
    <a routerLink="/buses/new" class="btn btn-primary">Create</a>
</div>