.heading{
    text-align: center;
    z-index: 10;
    color: white;
    margin-top: 20px;
}

.bookings-wrapper{
    width: 100%;
}

.bookings{
    margin-top: 30px;
    background-color: white;
    width: 95%;
}

/* .bookings-wrapper{
    animation: loadContent 2s ease-in 0s 1 normal forwards;
}

@keyframes loadContent{
    from { background-color: transparent; }
    to { background-color:  transparent;}
} */