.heading{
    text-align: center;
    z-index: 10;
    color: white;
    margin-top: 20px;
}

.bookings-wrapper{
    width: 100%;
}

.bookings{
    margin-top: 30px;
    background-color: white;
    width: 95%;
}