<app-banner></app-banner>
<h4 class="heading" *ngIf="title">
    {{ title }}
</h4>

<div class="bookings-wrapper d-flex justify-content-center">
    <div *ngIf="allSuccessbookingDetails.length > 0; else noBooking" class="bookings border rounded">    
        <div class="d-flex flex-sm-row flex-column justify-content-sm-center align-items-sm-center grey-color p-3">
            <div><strong>Sort By</strong></div>
            <div><button class="button" (click)="sortByBookedAt()">
                Booked At
                <fa-icon [icon]="sortStatus.isBookedAtSortedInAsc ? ascIcon : descIcon" class="p-2" style="color: #d64c39;"></fa-icon> 
            </button></div>
            <div class="d-sm-block d-none"> | </div>
            <div>
                <button class="button p-2" (click)="sortByDeparture()"> Departure
                    <fa-icon [icon]="sortStatus.isDepartureSortedInAsc ? ascIcon : descIcon" class="p-2" style="color: #d64c39;"></fa-icon> 
                </button>
            </div>
        </div>
        <div class="my-4 p-1 border-bottom" *ngFor="let bookingDetails of allSuccessbookingDetails">
            <div class="d-flex flex-column">
                <div class="px-2 d-flex justify-content-between flex-sm-row flex-column">
                    <h5>Booking Id: {{bookingDetails.id}}</h5>
                    <span>Booked at <strong [class.text-success]="bookingDetails.status == 'SUCCESS'" [class.text-danger]="bookingDetails.status == 'CANCELED'">{{ bookingDetails.bookedAt | date: 'medium' }}</strong></span>
                </div>
                <div class="px-2 d-flex justify-content-between flex-sm-row flex-column">
                    <h6 [class.text-success]="bookingDetails.status == 'SUCCESS'" [class.text-danger]="bookingDetails.status == 'CANCELED'">{{ bookingDetails.status }}</h6>
                    <div *ngIf="bookingDetails.cancellationFeedback != null" class="text-warning">{{ bookingDetails.cancellationFeedback }}</div>
                </div>
            </div>
            <app-booking-details-overview [bookingDetails]="bookingDetails"></app-booking-details-overview>
        </div>
    </div>
    <ng-template #noBooking>
        <div class="text-center my-3 bookings p-1">
            <h3>No bookings</h3>
        </div>
    </ng-template>
</div>