.banner{
    height: 150px;
    width: 100%;
    position: absolute;
    /* background-color: #002e6e; */
    /* background-color: #742525e6; */
    background-color: #1f0d40;
    z-index: -1;
}

.heading{
    text-align: center;
    z-index: 10;
    color: white;
    margin-top: 20px;
}
