/* You can add global styles to this file, and also import other style files */
.container-fluid{
    padding: 0px;
}

.grey-color{
    background-color: #f8f9fa;
}

.button{
    border: none;
    background-color: transparent;
}

.over-banner-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.over-banner{
    width: 95%;
    background-color: white;
    margin-top: 30px;
}

.text-nowrap{
    white-space: nowrap;
}