/* You can add global styles to this file, and also import other style files */
.container-fluid{
    padding: 0px;
}

.grey-color{
    background-color: #f8f9fa;
}

.button{
    border: none;
    background-color: transparent;
}