<div class="banner">

</div>
<div class="text-center welcome">
    <h3>Welcome to online Bus ticket Booking</h3>
</div>
<div class="over-banner d-flex justify-content-center">
    <div class="content text-center border rounded">
        <div class="about-us-heading">
            <span>Why Book With Us?</span>
        </div>
        <div class="row">
            <div class="col">
                <div class="icon">
                    <fa-icon [icon]="busIcon" size="2x"></fa-icon>
                </div>
                <div>
                    <h6>EASY BOOKING</h6>
                    <span>We offer easy and convenient flight bookings with attractive offers.</span>
                </div>
            </div>
            <div class="col">
                <div class="icon">
                    <fa-icon [icon]="lowPriceIcon" size="2x"></fa-icon>
                </div>
                <div>
                    <h6>LOWEST PRICE</h6>
                    <span>We ensure low rates on hotel reservation, holiday packages and on flight tickets.</span>
                </div>
            </div>
            <div class="col">
                <div class="icon"><fa-icon [icon]="dealsIcon" size="2x"></fa-icon></div>
                <div>
                    <h6>EXCITING DEALS</h6>
                    <p>Enjoy exciting deals on flights, hotels, buses, car rental and tour packages.</p>
                </div>
            </div>
            <div class="col">
                <div class="icon">
                    <fa-icon [icon]="supportIcon" size="2x"></fa-icon>
                </div>
                <div>
                    <h6>24/7 SUPPORT</h6>
                    <span>Get assistance 24/7 on any kind of travel related query. We are happy to assist you.</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center my-3">
    <a href="/bookings/search" class="btn btn-primary">Book now</a>
</div>