<app-banner></app-banner>
<h3 class="heading">
    Welcome to  GoBus
</h3>

<div class="over-banner-wrapper">
    <div class="over-banner border rounded p-3 overflow-auto">
        <div class="about-us-heading">
            <span>Why Book With Us?</span>
        </div>
        <div class="row">
            <div class="col-lg-3 col-6 my-2 text-center">
                <div class="icon">
                    <fa-icon [icon]="busIcon" size="2x"></fa-icon>
                </div>
                <div>
                    <h6>EASY BOOKING</h6>
                    <span>We offer easy and convenient bus bookings with attractive offers.</span>
                </div>
            </div>
            <div class="col-lg-3 col-6 my-2 text-center">
                <div class="icon">
                    <fa-icon [icon]="lowPriceIcon" size="2x"></fa-icon>
                </div>
                <div>
                    <h6>LOWEST PRICE</h6>
                    <span>We ensure low rates on bus tickets. Use the advanced smart filters to find pocket friendly buses.</span>
                </div>
            </div>
            <div class="col-lg-3 col-6 my-2 text-center">
                <div class="icon"><fa-icon [icon]="dealsIcon" size="2x"></fa-icon></div>
                <div>
                    <h6>EXCITING DEALS</h6>
                    <p>Enjoy exciting deals on buses. Book your favourite seats now.</p>
                </div>
            </div>
            <div class="col-lg-3 col-6 my-2 text-center">
                <div class="icon">
                    <fa-icon [icon]="supportIcon" size="2x"></fa-icon>
                </div>
                <div>
                    <h6>24/7 SUPPORT</h6>
                    <span>Get assistance 24/7 on any kind of travel related query. We are happy to assist you.</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center my-3">
    <a routerLink="/bookings/search" class="btn btn-primary">Book now</a>
</div>