<div class="bookingForm w-80 mx-auto mt-3">
	<div class="banner d-flex flex-column justify-content-center align-items-center">
		<h4 class="text-center text-dark mb-3">Book Bus Tickets</h4>
		<form class="row gy-2 gx-3 align-items-center justify-content-center mx-0" [formGroup]="form" (ngSubmit)="getBuses()">
			<div class="col-md-auto col-9">
			  <label class="visually-hidden" for="autoSizingInput">Departure location</label>
			  <input list="departureLocations" class="form-control" id="autoSizingInput" name="depLocation" placeholder="Search Departure location" formControlName="departureLocation" required autocomplete="off">
			  <datalist id="departureLocations" *ngIf="departureLocations">
				  <option [value]="departureLocation.locationName" *ngFor="let departureLocation of departureLocations">
			  </datalist>
			</div>
			<div class="col-md-auto col-9">
			  <label class="visually-hidden" for="autoSizingInput">Arrival location</label>
			  <input list="arrivalLocations" class="form-control" id="autoSizingInput" name="arrLocation" placeholder="Search Arrival location" formControlName="arrivalLocation" required autocomplete="off">
			  <datalist id="arrivalLocations" *ngIf="arrivalLocations">
				  <option *ngFor="let arrivalLocation of arrivalLocations" [value]="arrivalLocation.locationName" >
			  </datalist>
			</div>
			<div class="col-md-auto col-9">
			  <label class="visually-hidden" for="autoSizingInputGroup">Choose date</label>
			  <input type="date" class="form-control" id="autoSizingInputGroup" name="date" formControlName="date" placeholder="Select Date" required [min]="currDate | date: 'YYYY-MM-dd'" [max]="maxDate | date: 'YYYY-MM-dd'">
			</div>
			<div class="col-md-auto col-9 text-center">
			  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Search</button>
			</div>
		</form>
		<div class="my-3 d-md-flex flex-column align-items-center d-none">
			<div><h6>Popular Searches</h6></div>
			<div class="badge rounded-pill popular-search-badge" (click)="autoFillLocations('Hyderabad', 'Vijayawada') ">
				<span>Hyderabad</span>
				to
				<span>Vijayawada</span>
			</div>			
		</div>
	</div>
</div>

