.banner{
    background-image: url('https://static.abhibus.com/img/abhilogos/bus-seach-bg-new-v3.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.popular-search-badge{
    background-color: #935bcb;
    cursor: pointer;
}