.banner{
    background-image: url('https://static.abhibus.com/img/abhilogos/bus-seach-bg-new-v3.jpg');
    height: 450px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}